NODE_ENV=development

HOSTNAME='0.0.0.0'
PORT=6543

DATABASE_PATH='./database/mocksmith.db'
DATABASE_MIGRATIONS_PATH='./database/migrations'

AUTH_ENABLED='true'
AUTH_SECRET='<secret-key>'

CORS_ORIGIN='*'
